<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="diary_pro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <diary_pro.Properties.Settings>
            <setting name="selected_back_image_index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="selected_music_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="company_site_url" serializeAs="String">
                <value>Http://kamishasoft.com</value>
            </setting>
            <setting name="Programmer_name" serializeAs="String">
                <value>White Hat</value>
            </setting>
            <setting name="Production_year" serializeAs="String">
                <value>2003-2019</value>
            </setting>
            <setting name="User_name" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="User_pass" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="last_memo_id" serializeAs="String">
                <value>0</value>
            </setting>
        </diary_pro.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
